/* Import fonts */
@font-face {
    font-family: "Kimberley";
    src: url(http://www.princexml.com/fonts/larabie/kimberle.ttf) format("truetype");
}

body {
    color: black;
    font: 1em Helvetica, serif;
}

/* Sticky footer */
html, body, #PageContainer {height: 100%;}
body > #PageContainer {height: auto; min-height: 100%;}

.TopLink a {
    text-decoration: none;
    color: inherit;
    -webkit-text-stroke: inherit;
}

.TopLink a:hover {
    color: lightsteelblue;
}

#Header {
    color: white;
    background: url("../img/43490-the-terminator-terminator-salvation-robot.jpg") no-repeat fixed center top;
    background-size: cover;
    display: flex;
    justify-content: center;
}

#Links {
    position: absolute;
    justify-content: center;
}

.TopLink {
    padding: 1em;
    display: inline-block;
    font-family: Kimberley, serif;
    -webkit-text-stroke: 2px black;
}

#Title {
    position: absolute;
    align-self: center;
    font-family: Kimberley, serif;
    -webkit-text-stroke: 2px black;
    cursor: default;
}

#UnderTitle {
    position: absolute;
    align-self: center;
    padding-top: 15%;
    font: 5em Kimberley, serif;
    -webkit-text-stroke: 2px black;
    cursor: default;
}

@media screen and (min-width : 0px)
{
    .TopLink {
        font-size: 0.5em;
    }
    #Title {
        font-size: 1.4em;
    }
    #UnderTitle {
        font-size: 1em;
    }
    #Header {
        min-height: 150px;
    }
}
@media screen and (min-width : 600px)
{
    .TopLink {
        font-size: 1em;
    }
    #Title {
        font-size: 2.6em;
    }
    #UnderTitle {
        font-size: 2em;
    }
    #Header {
        min-height: 300px;
    }
}
@media screen and (min-width : 1200px)
{
    .TopLink {
        font-size: 2em;
    }
    #Title {
        font-size: 5em;
    }
    #UnderTitle {
        font-size: 3em;
    }
    #Header {
        min-height: 400px;
    }
}
@media screen and (min-width : 1800px)
{
    .TopLink {
        font-size: 2em;
    }
    #Title {
        font-size: 7em;
    }
    #UnderTitle {
        font-size: 5em;
    }
    #Header {
        min-height: 550px;
    }
}
@media screen and (min-width : 2400px)
{
    .TopLink {
        font-size: 3em;
    }
    #Title {
        font-size: 9em;
    }
    #UnderTitle {
        font-size: 7em;
    }
    #Header {
        min-height: 700px;
    }
}

#MainContentContainer {
    padding-bottom: 1em;
    display: flex;
    justify-content: center;
    background-color: #bfbfc0;
}

#MainContent {
    position: relative;
    font-size: 1.5em;
    padding: 0 20px 0 20px;
}

#PageFooter {
    clear: both;
    position: relative;
    z-index: 10;
    height: 1.2em;
    margin-top: -1.2em;
    margin-left: .5%;
}